@import "../../Scss/Variables.scss";
.danceDetailPage {
  .danceDetailContent {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .img {
      width: 25%;
      padding: 10px;
      img{
          object-fit: cover;
          height: 200px;
      }
    }
  }
}
