@import "../../Scss/Variables.scss";
.information {
  .information-content {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .content-first {
      grid-row: 1 / span 3;
      grid-column: 1 / span 2;
      background-image: url(../../images/img-hardskill.png);
      background-size: cover;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      h4.info-title {
        font-size: 2.6rem;
        color: $white;
        max-width: 360px;
        width: 100%;
        margin-bottom: 80px;
        text-transform: uppercase;
        opacity: 1;
        transition: $eo;
      }
    }
    .content {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 280px;
      transition: $eo;
      color: $white;
      position: relative;
      h4.info-title {
        text-transform: uppercase;
        opacity: 0;
        position: relative;
        z-index: 2;
        transition: $eo;
      }
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        background-color: rgba(29, 33, 47, 0.431);
        height: 100%;
        transition: $eo;
      }
      &:after {
        width: 100%;
        left: 100%;
        // transition-delay: 0.3s;
      }
      &:hover {
        opacity: 0.8;
        &:before {
          width: 100%;
        }
        &:after {
          left: 0;
        }
        h4.info-title {
          opacity: 1;
        }
        img {
          transform: scale(1.2);
        }
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: $eo;
      }
    }
    // .color-1 {
    //   background-color: $green;
    // }
    // .color-2 {
    //   background-color: $green-1;
    // }
    // .color-3 {
    //   background-color: $green-3;
    // }
    // .color-4 {
    //   background-color: $green-2;
    // }
    // .color-5,
    // .color-6 {
    //   background-color: $orange;
    // }
  }
}
