@import "../../Scss/Variables.scss";
.mainBlog {
  .img-blog {
    // img {
    //   transform: translateY(50px);
    // }
  }
  .blog-content {
    transform: translateY(-80px);
    z-index: 3;
    box-shadow: 5px 6px 16px -5px rgba(0, 0, 0, 0.75);
    padding: 30px;
    background-color: $blue;
    h3.title {
      color: white;
      text-align: center;
    }
    p.text {
      color: $grey-1;
    }
  }
}
