@import "../../Scss/Variables.scss";
.dancing-team {
  h3.title {
    text-align: center;
  }
  .dance-content {
    display: flex;
    justify-content: space-between;
  }
  .content {
    width: 50%;
    .img{
      overflow: hidden;
      img {
        transition: $eo;
      }
    }
    
    .text {
      float: right;
      margin-right: 30px;
      transform: translateY(-40%);
      padding: 40px;
      line-height: 40px;
      max-width: 400px;
      width: 100%;
      background-color: $green;
      color: rgba(255, 255, 255, 0.4);
      box-shadow: 5px 6px 16px -5px rgba(0, 0, 0, 0.75);
      transition: $eo;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
      .text{
        transform: translateY(-100%);
      }
    }
  }
}
