//color
$black: #a3a9a5;
$black-1: #041B2D;
$deep-blue: #302729;
$green: #041B2D;
$green-1: rgba(29, 33, 47, 0.9);
$green-2: rgba(29, 33, 47, 0.8);
$green-3: rgba(29, 33, 47, 0.7);
$blue: #041B2D;
$white: #ffffff;
$orange: #041B2D;
$grey: rgba(255, 255, 255, 0.3);
$grey-1: rgba(255, 255, 255, 0.4);
$grey-75: rgba(255, 255, 255, 0.8);
$blue-2: #2b2e3c;
$pink: #ef2368;
$purple: purple;
$eo: all 0.3s ease-in-out;

