//color
$black: #333333;
$black-1: #1d212f;
$deep-blue: #302729;
$green: #1d212f;
$green-1: rgba(29, 33, 47, 0.9);
$green-2: rgba(29, 33, 47, 0.8);
$green-3: rgba(29, 33, 47, 0.7);
$blue: #1d212f;
$white: #ffffff;
$orange: #1d212f;
$red: #344072;
$grey: rgba(255, 255, 255, 0.3);
$grey-1: rgba(255, 255, 255, 0.4);

$blue-2: #2b2e3c;
$eo: all 0.3s ease-in-out;
