@import "../../Scss/Variables.scss";
.ContentDanceAwards {
  .sliderAwards {
    position: relative;
    h3.titleMe {
      font-size: 7rem;
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 10%;
      font-weight: bold;
      color: white;
      font-style: italic;
    }
  }
  .mainContentAwards {
    .awardsContent {
      margin: 20px 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .content {
        width: 50%;
      }
      .awardsText {
        box-shadow: 4px 3px 14px -5px rgba(0, 0, 0, 0.75);
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        h4.title {
          color: $blue;
          font-size: 2.5rem;
        }
        .awardsMainText {
          padding: 0 30px;
        }
        p {
          margin: 10px 0;
        }
      }
    }
    .awardsContent:nth-child(2n) {
      flex-direction: row-reverse;
    }
    h3.title {
      font-size: 4rem;
    }
  }
}
