@import "../../Scss/Variables.scss";
.topTitle {
  .top-title-content {
    display: flex;
    justify-content: space-between;
    .content:first-of-type {
      width: 40%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      background-color: $blue;
      h2.title {
        text-align: center;
        font-size: 3.5vw;
        text-transform: uppercase;
        color: $white;
        max-width: 800px;
        padding: 30px;
        border: 10px solid white;
      }
      .main-content {
        margin-bottom: 20%;
        transform: translateX(30%);
      }
    }
    .content:last-of-type {
      float: right;
      background-color: $deep-blue;
      width: 60%;
      img {
        width: 100%;
      }
    }
  }
}
